.agent{
     
    background-color: black; 
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding-bottom: 120px;

}
.rower{
    display: flex;
    flex-direction: row; 
}
.catalogue{
    display: flex; 
    flex-direction: column;
}
.agentname{
    color: white; 
    margin-left: 120px; 
    padding-top: 100px; 
    margin-bottom: 40px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif; 
    font-size: 30px;
    display: flex; 
    flex-direction: column; 

} 
.hlink{
    height: 50px; 
    width: 50px; 
    background-color: rgb(0, 0, 0);
    margin-left: 30px; 
    margin-top: 100px; 
    border-radius: 50%;
    border: 0.5px solid rgb(238,183,93); 
    font-size: 24px;
    color: rgb(238,183,93); 
    transition: all 0.5s ;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
} 
.hlink:hover {
    height: 60px; 
    width: 60px ;
    transform: rotate(-45deg);
}
.spe{
    margin: 10px;
    margin-left: 15px;
}
.spe:hover{
    margin: 10px;
    margin-left: 15px;
    transform: rotate(360deg);
}
.catphoto{
    height: 400px; 
    width: 740px;
    margin-left: 140px;
    margin-top: 60px; 
    transition: all 0.5s;
} 
.catphoto:hover{ 
    margin-left: 120px; 
    margin-top: 50px;
    height: 440px;
    width: 820px;
}
.brou{
    color: white; 
     
    margin-left: 120px;
    width: 300px; 
    font-family:'Courier New', Courier, monospace; 
    font-size: 13px;
  
} 
.goldlink{
    margin-left: 120px; 
    margin-top: 20px; 
    color: rgb(238,183,93);
}
 
    
